* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 500;
}

.sub {
    text-align: center;
    color: rgb(56, 145, 56);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

form input {
    margin-bottom: 5px;
    width: 400px;
    height: 30px;
}

form button {
    border: none;
    cursor: pointer;
    background-color: rgb(96, 186, 96);
    color: white;
    padding: 10px 16px;
    border-radius: 2px;
}

form button:hover {
    background-color: rgb(65, 137, 65);
}

.resultados {
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    margin: 5px 40px;
    border: 2px solid green;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 0 50px;
}


.botones button {
    border: none;
    cursor: pointer;
    margin: 0 0 0 5px;
    color: white;
    padding: 8px 16px;
    border-radius: 2px;
    
}

.eliminar {
    background-color: rgb(198, 43, 43)
}


.eliminar:hover {
    background-color: rgb(167, 36, 36)
}

.editar {
    background-color: rgb(214, 109, 18)
}

.editar:hover {
    background-color: rgb(157, 81, 15)
}



@media screen and (max-width: 768px) {
    .sub {
        margin: 0 5px;
    }

    .resultados {
        flex-direction: column;
        padding: 0px;
        margin: 20px 0;
        justify-content:space-around;
        height: 100px;
    }


    
}